{% include 'base.html' %}
<script >
    var form = {
        view:"form",
        id:"form",
        select:true,
        borderless:true,
        elements:[
            {rows:[
                {cols:[
                    {view:"label", width:1},   //本の選択画面追加
                    {view:"button", id:"btn_book_select", name:"btn_book_select", label:"本を選択一覧", css:"webix_primary",labelWidth:1, width:150},
              ]},   
                {cols:[ 
                    {view:"label", label:"利用者ID", width:100},   //利用者ID入力画面追加
                    {view:"text", id:"user_id", name:"user_id", label:" ", labelWidth:1, width:150,},
                ]},
                {cols:[
                    {view:"label", label:"借用日付", width:100},   //借用日付入力画面追加
                    {view:"text", id:"Borrow_date", name:"Borrow_date", label:" ", labelWidth:1, width:250},
                ]},
                {cols:[
                    {view:"label", label:"利用期間", width:100},   //利用期間入力画面追加
                    {view:"text", id:"usage_period", name:"usage_period", label:" ", labelWidth:1, width:250},
                ]},
                {cols:[
                    {view:"label", label:"書籍ＩＤ", width:100},   // 書籍ＩＤ入力
                    {view:"text", id:"book_id", name:"book_id", label:" ", labelWidth:1, width:150, attributes:{maxlength:6},disabled:true},
                ]},
                {cols:[
                    {view:"label", label:"スタッフコード", width:100},   //社員ID入力
                    {view:"text", id:"syainn_id", name:"syainn_id", label:" ", labelWidth:1, width:150, attributes:{maxlength:6},disabled:true},
                ]},
                {cols:[
                    {view:"label", label:"社員名", width:100},   //社員名入力
                    {view:"text", id:"syainn_name", name:"syainn_name", label:" ", labelWidth:1, width:150, attributes:{maxlength:6},disabled:true},
                ]},
                {cols:[
                    {view:"label", label:"書籍名称", width:100}, //書籍名称入力
                    {view:"text", id:"book_name", name:"book_name", label:" ", labelWidth:1, width:250,disabled:true},
                ]},
                {cols:[
                    {view:"label", label:"作者名", width:100}, //作者名入力
                    {view:"text", id:"author", name:"author", label:" ", labelWidth:1, width:250,disabled:true},
                ]},
                {cols:[
                    {view:"label", label:"料金", width:100},   //料金入力
                    {view:"text", id:"ryoukinn", name:"ryoukinn", label:" ", labelWidth:1, width:150, attributes:{maxlength:6},disabled:true},
                ]},
                 {cols:[
                    {view:"label", label:"カテゴリ", width:100}, //カテゴリ入力
                    {view:"select", id:"category", name:"category", label:" ", options:{{HtmlHelper.getJsonKara('cm_book_category')|raw}}, labelWidth:1, width:250,disabled:true},
                ]},
                {cols:[
                    {view:"label", label:"概要", width:100},    //概要入力
                    {view:"text", id:"overview", name:"overview", label:" ", labelWidth:1, width:250,disabled:true},
                ]},
                {cols:[
                    {view:"label", label:"出版社", width:100},  //出版社入力
                    {view:"text", id:"publisher", name:"publisher", label:" ", labelWidth:1, width:250,disabled:true},
                ]},
                 {view:"button", id:"btn_Register", name:"btn_Register", value:"情報の登録", css:"webix_primary", width:100, height:50},
            ]}
        ],
        rules:{
        }
    };
   var footer = {view:"button", id:"btn_back", name:"btn_back", value:"一覧に戻る", css:"webix_primary", width:150, height:50};
        //弹出窗口
    var popup_btn_book_select = {
        view:"window",
        id:"winBookSelect",
        modal:true,
        width:600,
        move:true,
        position:"center",
        head:{
            view:"toolbar",
            cols:[
            {view: "label", label: "本の情報", css:"F2", width:200}
            ]
        },
            body:{
                view:"form",
                id:"sub_book_select_form",
                elements:[
                {margin:1, cols:[
                    {rows:[
                    {view:"checkbox", id:"sub_book_select_tassei_jiki_chk", name:"sub_book_select_tassei_jiki_chk", labelRight:"達成時期", width:300, labelWidth:10, value:0},
                    {view:"label", css:"tableColor_1", label:"<div>達成時期<span class='webix_icon fa-book' data-param='CMCMG0200,2,1013,8'></span></div>", align:"center"},
                    {view:"textarea", id:"sub_book_select_tassei_jiki_text", name:"sub_book_select_tassei_jiki_text", height:80, labelWidth:0, maxLength:300, max:40}
                    ]},
                ]},
                {cols:[
                    {view:"label", label:"※チェックありの項目のみ反映します", css:"textColor_red"},
                    {view:"button", id:"btnwinbookselect", label:"完了", width:100},
                    {view:"button", id:"btnwinbookselect", label:"閉じる", width:100}
                ]}
                ],
            }
    };

    var logic_win_book_select = {
        default:{//初期値
            sub_ikkatsu_tassei_jiki_chk :0,
            sub_ikkatsu_tassei_jiki_text:"",
  },    

     init:function(){
    $$("BtnWinBookSelect").attachEvent("onItemClick", logic_win_book_select.bookselectSettei);// 完了ボタン
    $$("BtnWinBookSelect").attachEvent("onItemClick", function(){$$("winBookSelect").hide();});// 閉じるボタン
  },
  show:function(){
    $$("sub_bookselect_form").setValues(logic_win_book_select.default);
    $$("winBookSelect").show();
  },
  bookselectSettei:function(){//bookselect設定
    message("CM00177", function(result){//処理を続行してもよろしいですか？
      if(result != "0") return false;
      var _form = $$("sub_book_select_form").getValues();
      if(_form.sub_book_select_tassei_jiki_chk != 1 && _form.sub_book_select_hyouka_jiki_chk != 1){// 達成時期と評価時期両方チェックされていない場合
        $$("winBookSelect").hide();
        return false;
      };
      var _book_selectObj = {};//一括設定情報
      if(_form.sub_book_select_tassei_jiki_chk == 1){// 達成時期にチェックありの場合
        _book_selectObj.tassei_jiki = _form.sub_book_select_tassei_jiki_text;
      };
      if(_form.sub_book_select_hyouka_jiki_chk == 1){// 評価時期にチェックありの場合
        _book_selectObj.hyouka_jiki = _form.sub_book_select_tassei_jiki_text;
      };
      var _parseItem = [];//一覧情報
      $.each(datatable.getItemAll("kadai_ichiran"), function(index, val) {
        _parseItem.push($.extend({}, val, _book_selectObj));
      });
      datatable.parse("kadai_ichiran", _parseItem);
      $$("winBookSelect").hide();
    });
  }
};

    var logic = {
        init:function() {
            logic.dataLoad();
            //イベント
            $$("btn_Register").attachEvent("onItemClick", logic.Register);
            $$("btn_back").attachEvent("onItemClick", logic.toMenu);
            $$("btn_book_select").attachEvent("onItemClick", logic.BookSelect);
        },

        BookSelect:function() {
            AUNG.GET("Api/ApiBookSelect", {}, function(text, data, xml) {
                if(AUNG.isAjaxError()) return false;
                console.log(text);
                $$("form").parse(text);
            });
        },
        dataLoad:function() {
            AUNG.GET("Api/ApiRentalRegister", {}, function(text, data, xml) {
                if(AUNG.isAjaxError()) return false;
                console.log(text);
                $$("form").parse(text);
            });
        },
        Register:function() {
            if(!logic.validate()) {
                return false;
            }
            var _postData = $$("form").getValues();
             AUNG.POST("Api/ApiRentalRegister", _postData, function(text, data, xml) {
                if(AUNG.isAjaxError()) return false;
                webix.message("登録しました。");
                { logic.dataload(); }
            });
        },
        validate:function() {
            if(!$$("form").validate()) {
                AUNG.errorMessage("必須項目が不足しています。");
                return false;
            }
            return true;
        },
        toMenu:function() {
            AUNG.pageMove("RentalChoie");
        },
    };
  webix.ui(
    {rows:[
      form,
      footer,
      {height:60},
    ]}
  );
  webix.ready(function () {
    AUNG.init();
    logic.init();
  });
</script>