{% include 'base.html' %}
<script >
  var form = {
    view:"form",
    id:"form",
    borderless:true,
    elements:[
      {rows:[
       {cols:[
        {view:"button", id:"btn_staff_regitser", value:"新規ボタン" , css:"webix_primary", height:40,width:350},
       ]},
        {
          view:"cust_datatable",
          id:"ichiran",
          hover:"myhover",
          select:true,
          rowHeight:60, 
          yCount:8,
          tooltip:true,
          columns:[
            {id:"staff_id", header:["スタッフ", {content:"textFilter"}], width:150},
            {id:"staff_code", header:["コード", {content:"textFilter"}], width:150},
            {id:"name", header:"氏名",width: 200, sort:"string", template:"<span class='pageMove'>#name#</span>"},
            {id:"furigana",  header:["フリガナ", {content:"textFilter"}], width:200},
            {id:"hyouji_ryakushou", header:["表示略称", {content:"textFilter"}], width:200},
            {id:"seibetsu", header:["性別", {content:"selectFilter"}], width:200},
            {id:"seinengappi_gengou", header:["生年月日　元号", {content:"selectFilter"}], width:200},
            {id:"seinengappi_year", header:["年", {content:"textFilter"}], width:200},
            {id:"seinengappi_month", header:["月", {content:"textFilter"}], width:200},
            {id:"seinengappi_day", header:["日", {content:"textFilter"}], width:200},
            {id:"age", header:["年齢", {content:"textFilter"}], width:200},
            {id:"post_no", header:["郵便番号", {content:"textFilter"}], width:200},
            {id:"todoufuken", header:["都道府県", {content:"textFilter"}], width:200},
            {id:"shikuchoson", header:["市区町村", {content:"textFilter"}], width:200},
            {id:"chou_name", header:["町名", {content:"textFilter"}], width:200},
            {id:"banchi", header:["番地", {content:"textFilter"}], width:200},
            {id:"tel_no", header:["電話番号", {content:"textFilter"}], width:200},
            {id:"moblie_no", header :["携帯番号", {content:"textFilter"}],  width:200},
            {id:"fax_no", header :["FAX番号", {content:"textFilter"}], width:200},
            {id:"mail_address", header :["メールアドレス", {content:"textFilter"}],  width:200},
            {id:"bikou", header :["備考", {content:"textFilter"}],  width:200},
            //緊急連絡先
            {id:"kinkyuuji_name", header :["緊急氏名", {content:"textFilter"}],  width:200},
            {id:"kinkyuuji_post_on", header :["緊急郵便番号", {content:"textFilter"}],  width:200},
            {id:"kinkyuuji_todoufuken", header :["緊急都道府県", {content:"textFilter"}],  width:200},
            {id:"kinkyuuji_shikuchoson", header :["緊急市区町村", {content:"textFilter"}],  width:200},
            {id:"kinkyuuji_chou_name", header :["緊急町名", {content:"textFilter"}],  width:200},
            {id:"kinkyuuji_banchi", header :["緊急番地", {content:"textFilter"}],  width:200},               
            {id:"kinkyuuji_tel_no", header :["緊急電話番号", {content:"textFilter"}],  width:200},
            {id:"kinkyuuji_bikou", header :["緊急備考", {content:"textFilter"}],  width:200},
            //勤務形態
            {id:"nyusyaday_gengou", header :["入社日元号", {content:"selectFilter"}],  width:200},
            {id:"nyusyaday_year", header :["入社日　年", {content:"textFilter"}],  width:200},
            {id:"nyusyaday_month", header :["入社日 月", {content:"textFilter"}],  width:200},
            {id:"nyusyaday_day", header :["入社日　日", {content:"textFilter"}],  width:200},
            {id:"kijunbi_henkou", header :["有給休暇の基準日", {content:"textFilter"}],  width:200},
            {id:"yuukyuukyuuka_gengou", header :["有給休暇の基準日 元号", {content:"selectFilter"}],  width:200},               
            {id:"yuukyuukyuuka_year", header :["有給休暇の基準日 年", {content:"textFilter"}],  width:200},
            {id:"yuukyuukyuuka_month", header :["有給休暇の基準日 月", {content:"textFilter"}],  width:200},
            {id:"yuukyuukyuuka_day", header :["有給休暇の基準日 日", {content:"textFilter"}],  width:200},
            {id:"syubetu_bikou", header :["種別", {content:"selectFilter"}],  width:200},
            {id:"keiyaku_nissuu", header :["契約日数", {content:"textFilter"}],  width:200},
            {id:"keiyaku_jikan", header :["契約時間", {content:"textFilter"}],  width:200},
            {id:"kinmu_kubun", header :["勤務区分", {content:"selectFilter"}],  width:200},
            {id:"check_koutu_1", header :["徒歩", {content:"textFilter"}],  width:200},               
            {id:"check_koutu_2", header :["自転車", {content:"textFilter"}],  width:200},
            {id:"check_koutu_3", header :["オートバイ", {content:"textFilter"}],  width:200},
            {id:"check_koutu_4", header :["自動車", {content:"textFilter"}],  width:200},
            {id:"check_koutu_5", header :["電車・バス", {content:"textFilter"}],  width:200},
            {id:"check_koutu_6", header :["その他", {content:"textFilter"}],  width:200},
            //振込口座情報
            
          ]
      }]}
    ]
  };
  var footer = {view:"button", id:"btn_back", name:"btn_back", value:"メニューへ戻る", css:"webix_primary", width:150, height:50}
 var logic = {
     init:function() {
      $$("btn_back").attachEvent("onItemClick", function(){AUNG.pageMove("Menu")});
       $$("btn_staff_regitser").attachEvent("onItemClick",function(){AUNG.pageMove("StaffRegister")});
      logic.dataload();
      $$("ichiran").on_click.pageMove  = logic.toStaffRegister;
    },
    dataload:function() {
      AUNG.GET("Api/ApiStaffManage", {}, function(text, data, xml) {
        if(AUNG.isAjaxError()) return false;
        AUNG.datatable.parse("ichiran", text);
      });
    },
    toStaffRegister:function(e, id, trg) {
      var _item = $$("ichiran").getItem(id);
      var _session = {staff_id:_item.staff_id};
      AUNG.pageMove("StaffFix", _session);
    }
  };
   webix.ui(
    {rows:[
      form,
      footer,
      {height:60},
    ]}
  );
  webix.ready(function () {
    AUNG.init();
    logic.init();
  });
</script>