{% include 'base.html' %}
<script >
  var form = {
    view:"form",
    id:"form",
    borderless:true,
    elements:[
      {rows:[
       {cols:[
        {view:"button", id:"btn_staff_regitser", value:"新規" , css:"webix_primary", height:40,width:350},
       ]},
        {
          view:"cust_datatable",
          id:"ichiran",
          hover:"myhover",
          select:true,
          rowHeight:60, 
          yCount:8, 
          tooltip:true,
          columns:[
            {id:"staff_id", header:["スタッフ", {content:"textFilter"}], width:150,hidden:true},
            {id:"staff_code", header:["スタッフコード", {content:"textFilter"}], width:150},
            {id:"name", header:"氏名",width: 200, sort:"string", template:"<span class='pageMove'>#name#</span>"},
            {id:"furigana",  header:["フリガナ", {content:"textFilter"}], width:200},
            {id:"tel_no", header:["電話番号", {content:"textFilter"}], width:200},
            {id:"moblie_no", header :["携帯番号", {content:"textFilter"}],  width:200},
            {id:"mail_address", header :["メールアドレス", {content:"textFilter"}],  width:200},
            {id:"syubetu_bikou", header :["種別", {content:"selectFilter"}],  width:200},
            {id:"keiyaku_jikan", header :["契約時間", {content:"textFilter"}],  width:200},
      
          ]
      }]}
    ]
  };
  var footer = {view:"button", id:"btn_back", name:"btn_back", value:"メニューへ戻る", css:"webix_primary", width:150, height:50}
 var logic = {
     init:function() {
      $$("btn_back").attachEvent("onItemClick", function(){AUNG.pageMove("Menu")});
      $$("btn_staff_regitser").attachEvent("onItemClick",function(){AUNG.pageMove("StaffFix", {staff_id:""})});
      logic.dataload();
      $$("ichiran").on_click.pageMove  = logic.toStaffRegister;
    },
    dataload:function() {
      AUNG.GET("Api/ApiStaffManage", {}, function(text, data, xml) {
        if(AUNG.isAjaxError()) return false;
        AUNG.datatable.parse("ichiran", text);
      });
    },
    toStaffRegister:function(e, id, trg) {
      var _item = $$("ichiran").getItem(id);
      var _session = {staff_id:_item.staff_id};
      AUNG.pageMove("StaffFix", _session);
    }
  };
   webix.ui(
    {id:"app", rows:[
      form,
      footer,
      {height:60},
    ]}
  );
  webix.ready(function () {
    AUNG.init();
    logic.init();
  });
</script>